[submodule "1vs1"]
	path = 1vs1
	url = https://github.com/wildminder/rexuiz-1vs1
	branch = master
[submodule "DarkPlacesRM"]
	path = DarkPlacesRM
	url = https://github.com/wildminder/DarkPlacesRM
[submodule "rexdlc"]
	path = rexdlc
	url = https://github.com/wildminder/rexuiz-rexdlc
[submodule "gmqcc"]
	path = gmqcc
	url = https://github.com/wildminder/gmqcc
[submodule "flrexuizlauncher"]
	path = flrexuizlauncher
	url = https://github.com/kasymovga/flrexuizlauncher
